<!DOCTYPE html> 
<html>

<head>
  <style>
    body{background-image:url("http://images.clipartpanda.com/hockey-clip-art--hockey-clipart-3.jpg");
    background-repeat:no-repeat;}
    
    
    #maindiv {
      background:black;
      position:absolute;
      color:#fff;
      top:50%;
      left:50%;
      padding:15px;
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
  </style>
</head>

<body>
  <div id="maindiv">
    <p>Thank you for submitting your email and team preference, if you would like to set up another email notification, please click <a href="/"> here</a></p>
  </div>
</body>

</html>