<!DOCTYPE html> 
    <html ng-app="gemStore">
       <head>
       <<<<<<< HEAD
  	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>(function(){
  
        var teams = [ {name:"Anaheim Mighty Ducks", id:"ANA"},
      {name:" Arizona Coyotes", id:"ARI"},
      {name:"Boston Bruins", id:"BOS"},
      {name:"Buffalo Sabres",id:"BUF"},
      {name:"Calgary Flames",id:"CGY"},
      {name:"Carolina Hurricanes",id:"CAR"}, 
      {name:"Chicago Blackhawks",id:"CHI"},
      {name:"Colorado Avalanche",id: "COL"},
      {name:"Columbus Blue Jackets",id:"CBJ"},
      {name:"Dallas Stars" ,id:"DAL"},
      {name:"Detroit Red Wings",id: "DET"},
      {name:"Edmonton Oilers",id: "EDM"},
      {name:"Florida Panthers" ,id:"FLA"},
      {name:"Los Angeles Kings",id: "LAK"},
      {name:"Minnesota Wild",id: "MIN"},
      {name:"Montreal Canadians",id:"MTL"},
      {name:"Nashville Predators",id:"NSH"},
      {name:"New Jersey Devils",id:"NJD"},
      {name:"New York Islanders",id: "NYI"},
      {name:"New York Rangers",id:"NYR"},
      {name:"Ottawa Senators",id:"OTT"},
      {name:"Philadelphia Flyers",id:"PHI"},
      {name:"Pittsburgh Penguins",id:"PIT"},
      {name:"San Jose Sharks",id: "SJS"},
      {name:"St Louis Blues", id:"STL"},
      {name:"Tampa Bay Lightning",id:"TBL"},
      {name:"Toronto Maple Leafs",id:"TOR"},
        {name:"Vancouver Canucks",id:"VAN"},
        {name:"Washington Capitals",id:"WSH"},
        {name: "Winnipeg Jets",id:"WPG"}];
        var app = angular.module('gemStore', []);
        app.controller('StoreController',function($scope,$http){
         

         $scope.options= {
          availableOptions: teams,
          selectedOption: teams[0] //This sets the default value of the select in the ui
          
          };
          $scope.email = {
              text: 'me@example.com'
            };
           $scope.list=[];
          
            $scope.submit = function() {
      var data=[];
              if ($scope.options.selectedOption!=null && $scope.email.text != "me@example.com" ) {
               
                $scope.list.push([$scope.email.text,$scope.options.selectedOption.id]);
                $scope.text = '';
       
        data=$scope.list[0];
        console.log(data)
                  $http.post('/form', data).then(function(){ window.location="/scomplete";});
               
             }

            };
          

        });
  
      })();

    </script>
    <style>body{background-image:url("http://images.clipartpanda.com/hockey-clip-art--hockey-clipart-3.jpg");
      background-repeat:no-repeat;}


        #maindiv {
          background:black;
          position:absolute;
          color:#fff;
          top:50%;
          left:50%;
          padding:15px;
          -ms-transform: translateX(-50%) translateY(-50%);
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
        }   

      </style>  </head>
=======
<script src="angularscripts.js"></script>
  </head>
>>>>>>> 939f06b8bd32abebc0203f26b7ea8b6749812b17
    <body>
      <div id="maindiv" ng-submit="submit()" ng-controller="StoreController as store">
        <form name="myForm">
          <label for="mySelect">Choose a team</label>
          <select name="mySelect" id="mySelect" ng-options="option.name for option in options.availableOptions track by option.id" ng-model="options.selectedOption"></select>
          <br/>
          <br/>
          <label>Email:
            <input type="email" name="input" ng-model="email.text" required>
          </label>
          <br/>
          <br/>
          <input type="submit">
        </form>


      </div>
    </body>

</html>